body{
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/photo-1599277062739-e1878f97c79a.jpg");
    background-size: 1000% 100%;
    text-align: center;

}
form{
    position: absolute;
    background-color: lightblue;
    padding: 40px 40px;
    border-radius: 10px;
    width: 800px;
    left: 300px;
    top: 100px;
    text-align: center;
}
h1{
    font-size: 50px;
}
label{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
#button{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
}
.display{
    display: block;
}